{% extends 'Home/base.html' %}
{% load static %}


{% block body %}



    <div class="page-wrapper">
        <div class="content container-fluid">
             <div class="container-fluid">
                {% for message in messages %}

                    <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                        <p>{{ message }}</p>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>

                {% endfor %}

            </div>

            <div class="page-header">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="page-sub-header">
                            <h3 class="page-title">Welcome {{ user }}</h3>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                                <li class="breadcrumb-item active">{{ user }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-xl-3 col-sm-6 col-12 d-flex">
                    <div class="card bg-comman w-100">
                        <div class="card-body">
                            <div class="db-widgets d-flex justify-content-between align-items-center">
                                <div class="db-info ">
                                    <h6>Students</h6>
                                    <h3>{{ total_students }}</h3>
                                </div>
                                <div class="db-icon">
                                    <img src="{% static 'assets/img/icons/dash-icon-01.svg' %}" alt="Dashboard Icon">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-12 d-flex">
                    <div class="card bg-comman w-100">
                        <div class="card-body">
                            <div class="db-widgets d-flex justify-content-between align-items-center">
                                <div class="db-info">
                                    <h6>Teachers</h6>
                                    <h3>{{ total_teachers }}</h3>
                                </div>
                                <div class="db-icon">
                                    <img src="{% static 'assets/img/icons/dash-icon-02.svg' %}" alt="Dashboard Icon">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-12 d-flex">
                    <div class="card bg-comman w-100">
                        <div class="card-body">
                            <div class="db-widgets d-flex justify-content-between align-items-center">
                                <div class="db-info">
                                    <h6>Department</h6>
                                    <h3>{{ total_departments }}</h3>
                                </div>
                                <div class="db-icon">
                                    <img src="{% static 'assets/img/icons/dash-icon-03.svg' %}" alt="Dashboard Icon">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-12 d-flex">
                    <div class="card bg-comman w-100">
                        <div class="card-body">
                            <div class="db-widgets d-flex justify-content-between align-items-center">
                                <div class="db-info">
                                    <h6>Revenue</h6>
                                    <h3>{{ total_revenue }}</h3>
                                    <h6>{{ current_year }}</h6>
                                </div>
                                <div class="db-icon">
                                    <img src="{% static 'assets/img/icons/dash-icon-04.svg' %}" alt="Dashboard Icon">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-lg-6">

                    <div class="card card-chart">
                        <div class="card-header">
                            <div class="row align-items-center">
                                <div class="col-6">
                                    <h5 class="card-title">Finance Overview</h5>
                                </div>
                                <div class="col-6">
                                    <ul class="chart-list-out">
                                        <li><span class="circle-blue"></span>Fee Collection</li>
                                        <li class="star-menus"><a href="javascript:;"><i
                                                class="fas fa-ellipsis-v"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div id="apexcharts-area"></div>
                        </div>
                    </div>

                </div>
                <div class="col-md-12 col-lg-6">

                    <div class="card card-chart">
                        <div class="card-header">
                            <div class="row align-items-center">
                                <div class="col-6">
                                    <h5 class="card-title">Active Students</h5>
                                </div>
                                <div class="col-6">
                                    <ul class="chart-list-out">
                                        <li><span class="circle-green"></span>Girls</li>
                                        <li><span class="custom-bg"></span>Boys</li>
                                        <li class="star-menus"><a href="javascript:;"><i
                                                class="fas fa-ellipsis-v"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div id="pie"></div>

                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 d-flex">

                    <div class="card flex-fill student-space comman-shadow">
                        <div class="card-header d-flex align-items-center">
                            <h5 class="card-title">Star Students</h5>
                            <ul class="chart-list-out student-ellips">
                                <li class="star-menus"><a href="javascript:;"><i class="fas fa-ellipsis-v"></i></a>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table
                                        class="table star-student table-hover table-center table-borderless table-striped">
                                    <thead class="thead-light">
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th class="text-center">Marks</th>
                                        <th class="text-center">Class</th>
                                        <th class="text-end">Term</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td class="text-nowrap">
                                            <div>MFS/209</div>
                                        </td>
                                        <td class="text-nowrap">
                                            <a href="profile.html">
                                                <img class="rounded-circle"
                                                     src="{% static 'assets/img/profiles/avatar-02.jpg' %}" width="25"
                                                     alt="Star Students">
                                                John Smith
                                            </a>
                                        </td>
                                        <td class="text-center">385</td>
                                        <td class="text-center">Grade9</td>
                                        <td class="text-end">
                                            <div>Term 1</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-nowrap">
                                            <div>MFS/245</div>
                                        </td>
                                        <td class="text-nowrap">
                                            <a href="profile.html">
                                                <img class="rounded-circle"
                                                     src="{% static 'assets/img/profiles/avatar-01.jpg' %}" width="25"
                                                     alt="Star Students">
                                                Jolie Hoskins
                                            </a>
                                        </td>
                                        <td class="text-center">375</td>
                                        <td class="text-center">Grade9</td>
                                        <td class="text-end">
                                            <div>Term 1</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-nowrap">
                                            <div>MFS/625</div>
                                        </td>
                                        <td class="text-nowrap">
                                            <a href="profile.html">
                                                <img class="rounded-circle"
                                                     src="{% static 'assets/img/profiles/avatar-03.jpg' %}" width="25"
                                                     alt="Star Students">
                                                Pennington Joy
                                            </a>
                                        </td>
                                        <td class="text-center">365</td>
                                        <td class="text-center">Grade9</td>
                                        <td class="text-end">
                                            <div>Term 1</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-nowrap">
                                            <div>MFS/516</div>
                                        </td>
                                        <td class="text-nowrap">
                                            <a href="profile.html">
                                                <img class="rounded-circle"
                                                     src="{% static 'assets/img/profiles/avatar-04.jpg' %}" width="25"
                                                     alt="Star Students">
                                                Millie Marsden
                                            </a>
                                        </td>
                                        <td class="text-center">387</td>
                                        <td class="text-center">Grade8</td>
                                        <td class="text-end">
                                            <div>Term 1</div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="text-nowrap">
                                            <div>MFS/2209</div>
                                        </td>
                                        <td class="text-nowrap">
                                            <a href="profile.html">
                                                <img class="rounded-circle"
                                                     src="{% static 'assets/img/profiles/avatar-05.jpg' %}" width="25"
                                                     alt="Star Students">
                                                John Smith
                                            </a>
                                        </td>
                                        <td class="text-center">385</td>
                                        <td class="text-center">Grade8</td>
                                        <td class="text-end">
                                            <div>Term 1</div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-xl-6 d-flex">

                    <div class="card flex-fill comman-shadow">
                        <div class="card-header d-flex align-items-center">
                            <h5 class="card-title ">Student Activity </h5>
                            <ul class="chart-list-out student-ellips">
                                <li class="star-menus"><a href="javascript:;"><i class="fas fa-ellipsis-v"></i></a>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <div class="activity-groups">
                                <div class="activity-awards">
                                    <div class="award-boxs">
                                        <img src="{% static 'assets/img/icons/award-icon-01.svg' %}" alt="Award">
                                    </div>
                                    <div class="award-list-outs">
                                        <h4>1st place in "Chess”</h4>
                                        <h5>John Doe won 1st place in "Chess"</h5>
                                    </div>
                                    <div class="award-time-list">
                                        <span>1 Day ago</span>
                                    </div>
                                </div>
                                <div class="activity-awards">
                                    <div class="award-boxs">
                                        <img src="{% static 'assets/img/icons/award-icon-02.svg' %}" alt="Award">
                                    </div>
                                    <div class="award-list-outs">
                                        <h4>Participated in "Carrom"</h4>
                                        <h5>Justin Lee participated in "Carrom"</h5>
                                    </div>
                                    <div class="award-time-list">
                                        <span>2 hours ago</span>
                                    </div>
                                </div>
                                <div class="activity-awards">
                                    <div class="award-boxs">
                                        <img src="{% static 'assets/img/icons/award-icon-03.svg' %}" alt="Award">
                                    </div>
                                    <div class="award-list-outs">
                                        <h4>Internation conference in "St.John School"</h4>
                                        <h5>Justin Leeattended internation conference in "St.John School"</h5>
                                    </div>
                                    <div class="award-time-list">
                                        <span>2 Week ago</span>
                                    </div>
                                </div>
                                <div class="activity-awards mb-0">
                                    <div class="award-boxs">
                                        <img src="{% static 'assets/img/icons/award-icon-04.svg' %}" alt="Award">
                                    </div>
                                    <div class="award-list-outs">
                                        <h4>Won 1st place in "Chess"</h4>
                                        <h5>John Doe won 1st place in "Chess"</h5>
                                    </div>
                                    <div class="award-time-list">
                                        <span>3 Day ago</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="row">
                <div class="col-xl-3 col-sm-6 col-12">
                    <div class="card flex-fill fb sm-box">
                        <div class="social-likes">
                            <p>Like us on facebook</p>
                            <h6>50,095</h6>
                        </div>
                        <div class="social-boxs">
                            <img src="{% static 'assets/img/icons/social-icon-01.svg' %}" alt="Social Icon">
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-12">
                    <div class="card flex-fill twitter sm-box">
                        <div class="social-likes">
                            <p>Follow us on twitter</p>
                            <h6>48,596</h6>
                        </div>
                        <div class="social-boxs">
                            <img src="{% static 'assets/img/icons/social-icon-02.svg' %}" alt="Social Icon">
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-12">
                    <div class="card flex-fill insta sm-box">
                        <div class="social-likes">
                            <p>Follow us on instagram</p>
                            <h6>52,085</h6>
                        </div>
                        <div class="social-boxs">
                            <img src="{% static 'assets/img/icons/social-icon-03.svg' %}" alt="Social Icon">
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-6 col-12">
                    <div class="card flex-fill linkedin sm-box">
                        <div class="social-likes">
                            <p>Follow us on linkedin</p>
                            <h6>69,050</h6>
                        </div>
                        <div class="social-boxs">
                            <img src="{% static 'assets/img/icons/social-icon-04.svg' %}" alt="Social Icon">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <p>Copyright © 2024</p>
        </footer>
    </div>
    </div>
    <script>
        const chartDataUrl = "{% url 'trends_bar_chart_data' %}";

        $.ajax({
            url: chartDataUrl,
            method: "GET",
            success: function (response) {
                console.log("Chart data fetched:", response);
            },
            error: function (error) {
                console.error("Error fetching data:", error);
            },
        });
    </script>


    <!-- Script to Render the Chart -->
    <script>
        $(document).ready(function () {
            // Check if the chart container exists
            if ($('#apexcharts-area').length > 0) {
                // Fetch data from the Django view
                $.ajax({
                    url: "{% url 'line_chart' %}",
                    type: 'GET',
                    dataType: 'json',
                    success: function (response) {
                        if (response && response.data) {
                            // Chart configuration
                            var options = {
                                chart: {
                                    height: 350,
                                    type: "area",
                                    toolbar: {
                                        show: false
                                    },
                                },
                                dataLabels: {
                                    enabled: false
                                },
                                stroke: {
                                    curve: "smooth"
                                },
                                series: [{
                                    name: "Revenue",
                                    data: response.data.datasets[0].data
                                }],
                                xaxis: {
                                    categories: response.data.labels,
                                }
                            };

                            // Render the chart
                            var chart = new ApexCharts(
                                document.querySelector("#apexcharts-area"),
                                options
                            );
                            chart.render();
                        } else {
                            console.error("Invalid response format:", response);
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error("Error fetching chart data:", error);
                    }
                });
            }
        });
    </script>


{#    <script>#}
{#        $(document).ready(function () {#}
{#            console.log("Document is ready."); // Debug#}
{#            if ($('#pie').length > 0) {#}
{#                console.log("#pie container exists."); // Debug#}
{#                $.ajax({#}
{#                    url: '{% url 'gender_pie_chart' %}',#}
{#                    method: 'GET',#}
{#                    success: function (data) {#}
{#                        console.log('API Response:', data); // Debugging#}
{#                        if (data.labels && data.datasets && data.datasets[0] && data.datasets[0].data) {#}
{#                            console.log("Valid API data received."); // Debug#}
{#                            var optionsPie = {#}
{#                                chart: {#}
{#                                    type: 'pie',#}
{#                                    height: 350,#}
{#                                },#}
{#                                labels: ['Boys', 'Girls'], // Hardcoded labels#}
{#                                series: [50, 50], // Hardcoded series#}
{#                                colors: ['#4e73df', '#ff6384'], // Hardcoded colors#}
{#                                legend: {#}
{#                                    position: 'bottom',#}
{#                                },#}
{#                                title: {#}
{#                                    text: 'Gender Ratio',#}
{#                                    align: 'center',#}
{#                                    style: {#}
{#                                        fontSize: '16px',#}
{#                                    },#}
{#                                },#}
{#                            };#}
{##}
{#                            var chartPie = new ApexCharts(document.querySelector('#pie'), optionsPie);#}
{#                            chartPie.render();#}
{#                            console.log("Pie chart rendered successfully."); // Debug#}
{#                        } else {#}
{#                            console.error('Invalid API response structure:', data);#}
{#                        }#}
{#                    },#}
{#                    error: function (xhr, status, error) {#}
{#                        console.error('Error fetching gender data:', status, error);#}
{#                    },#}
{#                });#}
{#            } else {#}
{#                console.error("#pie container does not exist.");#}
{#            }#}
{#        });#}
{##}
{#    </script>#}

        <script>
            $(document).ready(function () {
                if ($('#pie').length > 0) { // Ensure the div exists
                    $.ajax({
                        url: '{% url 'gender_pie_chart' %}', // URL of the updated view
                        method: 'GET',
                        success: function (data) {
                            var optionsPie = {
                                chart: {
                                    type: 'pie',
                                    height: 350,
                                },
                                labels: data.labels, // Gender categories
                                series: data.datasets[0].data, // Gender data
                                colors: data.datasets[0].backgroundColor, // Colors for each section
                                legend: {
                                    position: 'bottom',
                                },
                                title: {
                                    text: data.title, // Use the title from the API
                                    align: 'center',
                                    style: {
                                        fontSize: '16px',
                                    },
                                },
                            };

                            // Render the chart
                            var chartPie = new ApexCharts(document.querySelector('#pie'), optionsPie);
                            chartPie.render();
                        },
                        error: function (error) {
                            console.log('Error fetching gender data:', error);
                        },
                    });

                }
            });
        </script>

    <script>
        if ($('#bar').length > 0) {
            $.ajax({
                url: "/trends-bar-chart-data/", // Update to match your Django URL route
                method: "GET",
                success: function (response) {
                    // Create the bar chart dynamically using the response data
                    var optionsBar = {
                        chart: {
                            type: 'bar',
                            height: 350,
                            width: '100%',
                            stacked: false,
                            toolbar: {show: false},
                        },
                        dataLabels: {enabled: false},
                        plotOptions: {
                            bar: {columnWidth: '55%', endingShape: 'rounded'},
                        },
                        stroke: {
                            show: true,
                            width: 2,
                            colors: ['transparent'],
                        },
                        series: [
                            {
                                name: response.datasets[0].label,
                                color: response.datasets[0].backgroundColor,
                                data: response.datasets[0].data,
                            },
                            {
                                name: response.datasets[1].label,
                                color: response.datasets[1].backgroundColor,
                                data: response.datasets[1].data,
                            },
                        ],
                        labels: response.labels, // Month labels from the view
                        xaxis: {
                            labels: {show: true},
                            axisBorder: {show: false},
                            axisTicks: {show: false},
                        },
                        yaxis: {
                            axisBorder: {show: false},
                            axisTicks: {show: false},
                            labels: {style: {colors: '#777'}},
                        },
                        title: {
                            text: response.title,
                            align: 'left',
                            style: {fontSize: '18px'},
                        },
                    };

                    // Render the chart
                    var chartBar = new ApexCharts(document.querySelector('#bar'), optionsBar);
                    chartBar.render();
                },
                error: function (error) {
                    console.error("Error fetching bar chart data:", error);
                },
            });
        }

    </script>


    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- ApexCharts -->
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="{% static 'assets/plugins/apexchart/apexcharts.min.js' %}"></script>
    <script src="{% static 'assets/plugins/apexchart/chart-data.js' %}"></script>



    </html>
{% endblock %}