{% extends 'Home/base.html' %}
{% load static %}
{% block body %}

    <div class="page-wrapper">
        <div class="content container-fluid">
            <div class="page-header">
                <div class="row align-items-center">
                    <div class="col">
                        <h3 class="page-title">Assign Class</h3>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="">Dashboard</a></li>
                            <li class="breadcrumb-item active">Class</li>
                        </ul>
                    </div>
                    
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                
                        <div class="page-header">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <h3 class="page-title">Teachers</h3>
                                    </div>
                                    <div class="col-auto text-end float-end ms-auto download-grp">
                                        <a href="{% url 'teachers' %}"
                                           class="btn btn-success me-2 active"><i
                                                class="fas fa-list"></i></a>
                                        <a href="{% url 'teachers' %}"
                                           class="btn btn-success me-2"><i
                                                class="fas fa-th-large"></i></a>
                                        <a href="#" class="btn btn-success me-2"><i
                                                class="fas fa-download"></i>
                                            Download</a>
                                        <a href="{% url 'class_teachers' %}" class="btn btn-success me-2"><i
                                                class="fas fa-chalkboard-teacher"></i>
                                            Class Teachers</a>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-hover table-center mb-0 datatable">
                                    <thead>
                                    <tr>
                                        <th>STF.NO</th>
                                        <th>Name</th>

                                        <th>Assign Grade</th>
                                        <th>No.Student</th>

                                        <th>Mobile Number</th>


                                        <th class="text-right">Assign</th>
                                    </tr>
                                    </thead>
                                    <tbody>

                                    {% for teacher in teachers %}
                                        <tr>

                                            <td>{{ teacher.staff_number }}</td>
                                            <td>{{ teacher.get_title }}</td>
                                            <td>
                                                {% if teacher.assigned_class %}
                                                    {{ teacher.assigned_class }}
                                                {% else %}
                                                    No class assigned
                                                {% endif %}
                                            </td>
                                        <td>{{ teacher.student_count|default:0 }}</td>

                                            <td>{{ teacher.phone|default:"No phone number" }}</td>


                                            <td class="text-right">
                                                <div class="actions">
                                                    <button class="btn btn-success assign-btn"
                                                            data-teacher-id="{{ teacher.id }}"
                                                            data-teacher-name="{{ teacher.user.get_full_name }}"
                                                            data-bs-toggle="modal"
                                                            data-bs-target="#assignModal">
                                                        Assign Class
                                                    </button>
                                                </div>
                                            </td>
                                        </tr>

                                    {% endfor %}
                                    </tbody>
                                </table>

                                <!-- Assignment Modal -->
                           

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <p>Copyright © 2024 Davedev</p>
        </footer>
    </div>

  

    <script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'assets/js/popper.min.js' %}"></script>
    <script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
    <script src="{% static 'assets/plugins/datatables/datatables.min.js' %}"></script>
    <script src="{% static 'assets/js/script.js' %}"></script>
    </body>

    </html>


{% endblock %}