{% extends 'Home/base.html' %}
{% load static %}
{% block body %}

    <div class="page-wrapper">
        <div class="content container-fluid">
            <div class="page-header">
                <div class="row align-items-center">
                    <div class="col">
                        <h3 class="page-title">Departments</h3>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="">Dashboard</a></li>
                            <li class="breadcrumb-item active">departments</li>
                        </ul>
                    </div>
                    <div class="col-auto text-right float-right ml-auto">
                        <a href="#" class="btn btn-outline-info mr-2"><i class="fas fa-download"></i> Download</a>
                        <a href="{% url 'add_department' %}" class="btn btn-info"><i class="fas fa-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="card card-table">
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-hover table-center mb-0 datatable">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>

                                        <th>Teacher Incharge</th>
                                        
                                        


{#                                        <th class="#">Action</th>#}
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for department in departments %}
                                        <tr>

                                            <td>{{ department.id }}</td>
                                            <td>{{ department.name }}</td>

                                            <td>  {% if department.teachers.all %}
                                                <ul>
                                                    {% for teacher in department.teachers.all %}
                                                        <li>{{ teacher.user_name }} </li>
                                                        
                                                    {% endfor %}
                                                </ul>
                                            {% else %}
                                                <p>No teacher assigned yet.</p>
                                            {% endif %}
                                            </td>


{#                                            <td class="#">#}
{#                                                <div class="actions">#}
{##}
{#                                                    <a href="#"#}
{#                                                       class="btn btn-sm bg-success-light mr-2">#}
{#                                                        <i class="fas fa-trash"></i>#}
{#                                                    </a>#}
{##}
{#                                                </div>#}
{#                                            </td>#}
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <p>Copyright © 2024 Davedev</p>
        </footer>
    </div>
    </div>
    <script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'assets/js/popper.min.js' %}"></script>
    <script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
    <script src="{% static 'assets/plugins/datatables/datatables.min.js' %}"></script>
    <script src="{% static 'assets/js/script.js' %}"></script>
    </body>

    </html>


{% endblock %}