

{% extends 'Home/base.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% block body %}

    <div class="page-wrapper">
        <div class="content container-fluid">
            <div class="page-header">
                <div class="row align-items-center">
                    <div class="col">
                        <h3 class="page-title">Manage users</h3>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'students' %}">Message</a></li>
                            <li class="breadcrumb-item active">Users</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-body">
                            {% if messages %}
                                {% for message in messages %}
                                    <div class="alert {{ message.tags }}">
                                        {{ message }}
                                    </div>
                                {% endfor %}
                            {% endif %}


                            <div class="main-wrapper login-body">
                                <div class="login-wrapper">
                                    <div class="container">
                                        <div class="loginbox">
                                            <div class="login-left">
                                                <img class="img-fluid" src="assets/img/login.png" alt="Logo">
                                            </div>
                                            <div class="login-right">
                                                <div class="login-right-wrap">
                                                    <h2>Add New User</h2>

                                                    {% if messages %}
                                                        {% for message in messages %}
                                                            <div class="alert alert-success">{{ message }}</div>
                                                        {% endfor %}
                                                    {% endif %}

                                                    <form method="post">
                                                        {% csrf_token %}
                                                        {{ form.as_p }}
                                                        <button type="submit" class="btn btn-primary">Create User
                                                        </button>
                                                    </form>

                                                    <a href="{% url 'home' %}" class="btn btn-secondary">Back</a>


                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'assets/js/popper.min.js' %}"></script>
    <script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
    <script src="{% static 'assets/js/script.js' %}"></script>
    </body>

    </html>
{% endblock %}














