{% extends 'Home/base.html' %}
{% load crispy_forms_filters %}
{% load static %}

{% block body %}
    <div class="page-wrapper">
        <div class="content container-fluid">
            <div class="page-header">
                <div class="row align-items-center">
                    <div class="col-sm-12">
                        <div class="page-sub-header">
                            <h3 class="page-title">Edit Student</h3>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% url 'students' %}">Students</a></li>
                                <li class="breadcrumb-item active">Edit Student</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                {% for message in messages %}

                    <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                        <p>{{ message }}</p>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>

                {% endfor %}

            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="card comman-shadow">
                        <div class="card-body">
                            <form method="POST" enctype="multipart/form-data">
                                {% csrf_token %}

                                {{ form|crispy }}

                                <button class="btn-success " type="submit">Save</button>
                            </form>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(document).ready(function () {
            // Initialize the date picker
            $('input[type="date"]').datepicker({
                format: 'yyyy-mm-dd', // Set the date format you want
                autoclose: true        // Close the calendar after selecting a date
            });
        });

    </script>

    <script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'assets/js/popper.min.js' %}"></script>
    <script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
    <script src="{% static 'assets/js/script.js' %}"></script>

{% endblock %}
