{% extends 'Home/base.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% block body %}



    <div class="page-wrapper">
        <div class="content container-fluid">
            <div class="page-header">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="page-sub-header">
                            <h3 class="page-title">Student Details</h3>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% url 'students' %}">Student</a></li>
                                <li class="breadcrumb-item active">Student Details</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                {% for message in messages %}

                    <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                        <p>{{ message }}</p>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>

                {% endfor %}

            </div>
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="about-info">
                                <h4>Profile <span><a href="javascript:;"><i
                                        class="feather-more-vertical"></i></a></span></h4>
                            </div>
                            <div class="student-profile-head">

                                <div class="row">
                                    <div class="col-lg-4 col-md-4">
                                        <div class="profile-user-box">
                                            <div class="profile-user-img">
                                                {% if student.student_image %}#}
                                                    <img class="avatar-img w-100"
                                                         src="{{ student.student_image.url }}"
                                                         alt="{{ student.first_name }}.img">
                                                {% else %}
                                                    <img class="avatar-img  w-100"
                                                         src="{% static 'assets/img/user.jpg' %}" alt="Default Image">
                                                {% endif %}


                                                <div class="form-group students-up-files profile-edit-icon mb-0">
                                                    <div class="uplod d-flex">
                                                        <label class="file-upload profile-upbtn mb-0">
                                                            <i class="feather-edit-3"></i><input type="file">
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <div class="col-lg-4 col-md-4 d-flex align-items-center">
                                        <div class="follow-btn-group">

                                            {% for student_parent in student_parents %}

                                                <div class="container mt-5">

                                                    <form method="post" class="mt-3">
                                                        {% csrf_token %}
                                                        <input type="hidden" name="parent_id"
                                                               value="{{ student_parent.id }}">
                                                        <div class="form-group">
                                                            {{ form.phone.label_tag }}
                                                            {{ form.phone }}
                                                        </div>
                                                        <div class="form-group">
                                                            {{ form.message.label_tag }}
                                                            {{ form.message }}
                                                        </div>
                                                        <button type="submit" class="btn btn-primary">Send SMS</button>
                                                    </form>

                                                </div>
                                            {% endfor %}


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="student-personals-grp">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="heading-detail">
                                            <h4>Personal Details :</h4>
                                        </div>
                                        <div class="personal-activity">
                                            <div class="personal-icons">
                                                <i class="feather-user"></i>
                                            </div>
                                            <div class="views-personal">
                                                <h4>Name</h4>
                                                <h5>{{ student.first_name }} &nbsp; {{ student.last_name }}</h5>
                                            </div>
                                        </div>
                                        <div class="personal-activity">
                                            <div class="personal-icons">
                                                <img src="{% static 'assets/img/icons/buliding-icon.svg' %}" alt="">
                                            </div>
                                            <div class="views-personal">
                                                <h4>Class/Grade </h4>
                                                <h5>{{ student.grade }}</h5>
                                            </div>
                                        </div>

                                        <div class="personal-activity">
                                            <div class="personal-icons">
                                                <i class="feather-user"></i>
                                            </div>
                                            <div class="views-personal">
                                                <h4>Gender</h4>
                                                <h5>{{ student.gender }}</h5>
                                            </div>
                                        </div>
                                        <div class="personal-activity">
                                            <div class="personal-icons">
                                                <i class="feather-calendar"></i>
                                            </div>
                                            <div class="views-personal">
                                                <h4>Date of Birth</h4>
                                                <h5>{{ student.date_of_birth }}</h5>
                                            </div>
                                        </div>
                                        <div class="personal-activity">
                                            <div class="personal-icons">
                                                <i class="feather-italic"></i>
                                            </div>
                                            <div class="views-personal">
                                                <h4>Department</h4>
                                                <h5>Home science</h5>
                                            </div>
                                        </div>
                                        <div class="personal-activity">
                                            <div class="personal-icons">
                                                <i class="feather-phone-call"></i>
                                            </div>
                                            <div class="views-personal">
                                                <h4>Parent Mobile</h4>
                                                {% if student.parent.exists %}
                                                    <h5>{{ student.parent.first.mobile }}</h5>
                                                {% else %}
                                                    <h5>No parent information available</h5>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="personal-activity">
                                            <div class="personal-icons">
                                                <i class="feather-users"></i>
                                            </div>
                                            <div class="views-personal">
                                                <h4>Relation To Student</h4>
                                                <h5>{{ student.parent.first.relationship }}</h5>
                                            </div>
                                        </div>
                                        <div class="personal-activity">
                                            <div class="personal-icons">
                                                <i class="feather-mail"></i>
                                            </div>
                                            <div class="views-personal">
                                                <h4>Email</h4>
                                                <h5><a href="/cdn-cgi/l/email-protection" class="__cf_email__"
                                                       data-cfemail="81e5e0e8f2f8c1e6ece0e8edafe2eeec">{{ student.parent.first.email }}</a>
                                                </h5>
                                            </div>
                                        </div>
                                        <div class="personal-activity mb-0">
                                            <div class="personal-icons">
                                                <i class="feather-map-pin"></i>
                                            </div>
                                            <div class="views-personal">
                                                <h4>Address</h4>
                                                <h5>{{ student.parent.first.address }}</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-8">
                            <div class="student-personals-grp">
                                <div class="card mb-0">
                                    <div class="card-body">
                                        <div class="student-personals-grp">
                                            <div class="card mb-0">
                                                <div class="card-body">
                                                    <div class="heading-detail">
                                                        <h4>Attendance:</h4>
                                                    </div>
                                                    <div class="skill-blk">
                                                        <div class="skill-statistics">
                                                            <div class="skills-head">
                                                                <h5>Term 1</h5>
                                                                <p>90%</p>
                                                            </div>
                                                            <div class="progress mb-0">
                                                                <div class="progress-bar bg-photoshop"
                                                                     role="progressbar"
                                                                     style="width: 90%" aria-valuenow="90"
                                                                     aria-valuemin="0"
                                                                     aria-valuemax="100"></div>
                                                            </div>
                                                        </div>
                                                        <div class="skill-statistics">
                                                            <div class="skills-head">
                                                                <h5>Term 2</h5>
                                                                <p>75%</p>
                                                            </div>
                                                            <div class="progress mb-0">
                                                                <div class="progress-bar bg-editor" role="progressbar"
                                                                     style="width: 75%" aria-valuenow="75"
                                                                     aria-valuemin="0"
                                                                     aria-valuemax="100"></div>
                                                            </div>
                                                        </div>
                                                        <div class="skill-statistics mb-0">
                                                            <div class="skills-head">
                                                                <h5>Term 3</h5>
                                                                <p>95%</p>
                                                            </div>
                                                            <div class="progress mb-0">
                                                                <div class="progress-bar bg-illustrator"
                                                                     role="progressbar"
                                                                     style="width: 95%" aria-valuenow="95"
                                                                     aria-valuemin="0"
                                                                     aria-valuemax="100"></div>
                                                            </div>
                                                        </div>
                                                        <div id="s-col"></div>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                </div>
                            </div>
                        </div>


                        <h2>Report Card Details</h2>

                        {% if latest_report_card %}
                            <h3>Latest Report Card ({{ latest_report_card.term.name }})</h3>
                            <p><strong>Total Marks:</strong> {{ latest_report_card.total_marks }}</p>
                            <p><strong>Rank:</strong> {{ latest_report_card.student_rank }}</p>
                        {% else %}
                            <p>No report card available for the latest term.</p>
                        {% endif %}

                        <hr>
                        <h3>All Terms Report Cards</h3>
                        {% for report_card in report_cards %}
                            <div>
                                <h4>Term: {{ report_card.term.name }}</h4>
                                <p><strong>Total Marks:</strong> {{ report_card.total_marks }}</p>
                                <p><strong>Rank:</strong> {{ report_card.student_rank }}</p>
                            </div>
                        {% endfor %}

                        <hr>
                        <h3>Subject-wise Marks</h3>
                        <table>
                            <thead>
                            <tr>
                                <th>Term</th>
                                <th>Subject</th>
                                <th>Exam Type</th>
                                <th>Marks</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for subject_mark in subject_marks %}
                                <tr>
                                    <td>{{ subject_mark.term.name }}</td>
                                    <td>{{ subject_mark.subject.name }}</td>
                                    <td>{{ subject_mark.exam_type.name }}</td>
                                    <td style="{% if subject_mark.marks < 50 %}color: red;{% endif %}">{{ subject_mark.marks }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>


                    </div>
                    {#                    <section class="student-report-cards">#}
                    {#                        <h2>All Report Cards</h2>#}
                    {#                        {% if report_cards %}#}
                    {#                            <table>#}
                    {#                                <thead>#}
                    {#                                <tr>#}
                    {#                                    <th>Term</th>#}
                    {#                                    <th>Total Marks</th>#}
                    {#                                    <th>Rank</th>#}
                    {#                                    <th>View Report Card</th>#}
                    {#                                </tr>#}
                    {#                                </thead>#}
                    {#                                <tbody>#}
                    {#                                {% for report_card in report_cards %}#}
                    {#                                    <tr>#}
                    {#                                        <td>{{ report_card.report_card.term.name }}</td>#}
                    {#                                        <td>{{ report_card.total_marks }}</td>#}
                    {#                                        <td>{{ report_card.rank }}</td>#}
                    {#                                        <td>#}
                    {#                                            <a href="{% url 'report_card_view' student.id report_card.report_card.term.id %}">View#}
                    {#                                                Report Card</a></td>#}
                    {#                                    </tr>#}
                    {#                                {% endfor %}#}
                    {#                                </tbody>#}
                    {#                            </table>#}
                    {#                        {% else %}#}
                    {#                            <p>No report cards found for this student.</p>#}
                    {#                        {% endif %}#}
                    {#                    </section>#}


                    {#                    <section class="student-latest-report-card">#}
                    {#                        <h2>Latest Report Card</h2>#}
                    {#                        {% if latest_report_card %}#}
                    {#                            <p><strong>Term:</strong> {{ latest_report_card.term.name }}</p>#}
                    {#                            <p><strong>Total Marks:</strong> {{ latest_report_card.total_marks }}</p>#}
                    {#                            <a href="{% url 'report_card_view' student.id latest_report_card.term.id %}">View Full#}
                    {#                                Report Card</a>#}
                    {#                        {% else %}#}
                    {#                            <p>No latest report card found for this student.</p>#}
                    {#                        {% endif %}#}
                    {#                    </section>#}
                    {##}
                    {#                    <section class="student-subject-marks">#}
                    {#                        <h2>Subject Marks</h2>#}
                    {#                        {% if subject_marks %}#}
                    {#                            <table>#}
                    {#                                <thead>#}
                    {#                                <tr>#}
                    {#                                    <th>Subject</th>#}
                    {#                                    <th>Marks Obtained</th>#}
                    {#                                    <th>Total Marks</th>#}
                    {#                                </tr>#}
                    {#                                </thead>#}
                    {#                                <tbody>#}
                    {#                                {% for mark in subject_marks %}#}
                    {#                                    <tr>#}
                    {#                                        <td>{{ mark.subject.name }}</td>#}
                    {#                                        <td>{{ mark.marks_obtained }}</td>#}
                    {#                                        <td>{{ mark.total_marks }}</td>#}
                    {#                                    </tr>#}
                    {#                                {% endfor %}#}
                    {#                                </tbody>#}
                    {#                            </table>#}
                    {#                        {% else %}#}
                    {#                            <p>No subject marks available for this student.</p>#}
                    {#                        {% endif %}#}
                    {#                    </section>#}

                    <footer>
                        <p>Generated on {{ student.date_created }}</p>
                    </footer>
                </div>

            </div>
        </div>
    </div>

    <footer>
        <p>Copyright © 2024 Davedev</p>
    </footer>
    </div>

    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>







{% endblock %}