{% extends 'Home/base.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% block body %}

    <div class="page-wrapper">
        <div class="content container-fluid">
            <div class="page-header">
                <div class="row align-items-center">
                    <div class="col">
                        <h3 class="page-title">Edit Fee Structure</h3>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="{% url 'students' %}">Fee</a></li>
                            <li class="breadcrumb-item active">Edit Fee Structure</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                {% for message in messages %}

                    <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                        <p>{{ message }}</p>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>

                {% endfor %}

            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="card">
                        <div class="card-body">

                            <form action="" method="post" enctype="multipart/form-data" class="shadow px-3 py-3 mt-3">
                                {% csrf_token %}
                                {{ form | crispy }}
                                <div class="d-flex  justify-content-center align-items-center">
                                    <button class="btn btn-info mr-3 w-25">Update</button>
                                    <a class="btn btn-outline-info w-25" href="{% url 'fee_structure_list' %}">Back to
                                        List</a>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'assets/js/popper.min.js' %}"></script>
    <script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
    <script src="{% static 'assets/js/script.js' %}"></script>
    </body>

    </html>
{% endblock %}