{% load static %}

<div class="d-flex flex-column align-items-center justify-content-center">
    <div class="d-flex align-items-center">
        <!-- Logo -->
        <div class="me-3">
            <img src="{% static 'assets/img/new-logo.png' %}" class="img-fluid"
                 style="max-width: 100px;" alt="School Logo">
        </div>
        <!-- School Info -->
        <div class="text-center">
            <h4 class="mb-0 fw-bold">MERRYLAND FRIENDS SCHOOL</h4>
            <h6 class="mb-0">P.O BOX 595, NYAHURURU | TEL: 0722 780 529</h6>
            <p class="mb-0">Email: Info@Merrylandfriends.com</p>
        </div>
    </div>
</div>
