{% extends 'Home/base.html' %}
{% load static %}


{% block body %}



    <div class="page-wrapper">
        <div class="content container-fluid">
            <div class="container-fluid">
                {% for message in messages %}

                    <div class="alert {{ message.tags }} alert-dismissible fade show" role="alert">
                        <p>{{ message }}</p>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>

                {% endfor %}

            </div>

            <div class="page-header">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="page-sub-header">
                            <h3 class="page-title">Welcome {{ user }}</h3>
                            <ul class="breadcrumb">
                                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                                <li class="breadcrumb-item active">{{ user }}</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-xl-3 col-sm-3 col-12 d-flex">
                    <div class="card bg-comman w-100">
                        <div class="card-body">
                            <div class="db-widgets d-flex justify-content-between align-items-center">
                                <div class="db-info ">
                                    <h6>Students</h6>
                                    <h3>{{ total_students }}</h3>
                                </div>
                                <div class="db-icon">
                                    <img src="{% static 'assets/img/icons/dash-icon-01.svg' %}" alt="Dashboard Icon">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-3 col-12 d-flex">
                    <div class="card bg-comman w-100">
                        <div class="card-body">
                            <div class="db-widgets d-flex justify-content-between align-items-center">
                                <div class="db-info">
                                    <h6>Teachers</h6>
                                    <h3>{{ total_teachers }}</h3>
                                </div>
                                <div class="db-icon">
                                    <img src="{% static 'assets/img/icons/dash-icon-02.svg' %}" alt="Dashboard Icon">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-3 col-12 d-flex">
                    <div class="card bg-comman w-100">
                        <div class="card-body">
                            <div class="db-widgets d-flex justify-content-between align-items-center">
                                <div class="db-info">
                                    <h6>Department</h6>
                                    <h3>{{ total_departments }}</h3>
                                </div>
                                <div class="db-icon">
                                    <img src="{% static 'assets/img/icons/dash-icon-03.svg' %}" alt="Dashboard Icon">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-sm-3 col-12 d-flex">
                    <div class="card bg-comman w-100">
                        <div class="card-body">
                            <div class="db-widgets d-flex justify-content-between align-items-center">
                                <div class="db-info">
                                    <h6>Revenue</h6>
                                    <h3>{{ total_revenue }}</h3>
                                    <h6>{{ current_year }}</h6>
                                </div>
                                <div class="db-icon">
                                    <img src="{% static 'assets/img/icons/dash-icon-04.svg' %}" alt="Dashboard Icon">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-lg-6">

                    <div class="card card-chart">
                        <div class="card-header">
                            <div class="row align-items-center">
                                <div class="col-6">
                                    <h5 class="card-title">Finance Overview</h5>
                                </div>
                                <div class="col-6">
                                    <ul class="chart-list-out">
                                        <li><span class="circle-blue"></span>Fee Collection</li>
                                        <li class="star-menus"><a href="javascript:;"><i
                                                class="fas fa-ellipsis-v"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div id="apexcharts-area"></div>
                        </div>
                    </div>

                </div>
                <div class="col-md-12 col-lg-6">

                    <div class="card card-chart">
                        <div class="card-header">
                            <div class="row align-items-center">
                                <div class="col-6">
                                    <h5 class="card-title">Active Students</h5>
                                </div>
                                <div class="col-6">
                                    <ul class="chart-list-out">
                                        <li><span class="circle-green"></span>Girls</li>
                                        <li><span class="custom-bg"></span>Boys</li>
                                        <li class="star-menus"><a href="javascript:;"><i
                                                class="fas fa-ellipsis-v"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div id="pie"></div>

                        </div>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-xl-6 d-flex">

                    <div class="card flex-fill student-space comman-shadow">
                        <div class="card-header d-flex align-items-center">
                            <h5 class="card-title">Star Students</h5>
                            <ul class="chart-list-out student-ellips">
                                <li class="star-menus"><a href="javascript:;"><i class="fas fa-ellipsis-v"></i></a>
                                </li>
                            </ul>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table star-student table-hover table-center table-borderless table-striped">
                                    <thead class="thead-light">
                                    <tr>
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th class="text-center">Marks</th>
                                        <th class="text-center">Class</th>
                                        <th class="text-end">Term</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for student in top_students_data %}
                                        <tr>
                                            <td class="text-nowrap">
                                                <div>{{ student.admission_number }}</div>
                                            </td>
                                            <td class="text-nowrap">
                                                <a href="profile.html">
                                                    <img class="rounded-circle"
                                                         src="{% static 'assets/img/profiles/avatar-02.jpg' %}"
                                                         width="25" alt="Star Students">
                                                    {{ student.student_name }}
                                                </a>
                                            </td>
                                            <td class="text-center">{{ student.total_marks }}</td>
                                            <td class="text-center">{{ student.class }}</td>
                                            <td class="text-end">
                                                <div>{{ student.term }}</div>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-12 grid-margin stretch-card">
                        <div class="card corona-gradient-card">
                            <div class="card-body py-0 px-0 px-sm-3">
                                <div class="row align-items-center">
                                    <div class="col-4 col-sm-3 col-xl-2">
                                        <img src="{% static 'assets/template/assets/images/dashboard/Group126@2x.png' %}"
                                             class="gradient-corona-img img-fluid" alt="">
                                    </div>
                                    <div class="col-5 col-sm-7 col-xl-8 p-0">
                                        <h4 class="mb-1 mb-sm-0">School Vision</h4>
                                        <p class="mb-0 font-weight-normal d-none d-sm-block">
                                            To raise a Godly and self-reliant generation based on high academic
                                            excellence and social integrity.
                                        </p>
                                    </div>
                                    <div class="col-3 col-sm-2 col-xl-2 pl-0 text-center">
                        <span>
                          <a href="#" target="_blank"
                             class="btn btn-outline-light btn-rounded get-started-btn">Add Notification</a>
                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-6 col-xl-4 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex flex-row justify-content-between">
                                    <h4 class="card-title">Messages</h4>
                                    <p class="text-muted mb-1 small">View all</p>
                                </div>
                                <div class="preview-list">
                                    <div class="preview-item border-bottom">
                                        <div class="preview-thumbnail">
                                            <img src="assets/images/faces/face6.jpg" alt="image"
                                                 class="rounded-circle"/>
                                        </div>
                                        <div class="preview-item-content d-flex flex-grow">
                                            <div class="flex-grow">
                                                <div class="d-flex d-md-block d-xl-flex justify-content-between">
                                                    <h6 class="preview-subject">Leonard</h6>
                                                    <p class="text-muted text-small">5 minutes ago</p>
                                                </div>
                                                <p class="text-muted">Well, it seems to be working now.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="preview-item border-bottom">
                                        <div class="preview-thumbnail">
                                            <img src="assets/images/faces/face8.jpg" alt="image"
                                                 class="rounded-circle"/>
                                        </div>
                                        <div class="preview-item-content d-flex flex-grow">
                                            <div class="flex-grow">
                                                <div class="d-flex d-md-block d-xl-flex justify-content-between">
                                                    <h6 class="preview-subject">Luella Mills</h6>
                                                    <p class="text-muted text-small">10 Minutes Ago</p>
                                                </div>
                                                <p class="text-muted">Well, it seems to be working now.</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="preview-item border-bottom">
                                        <div class="preview-thumbnail">
                                            <img src="assets/images/faces/face9.jpg" alt="image"
                                                 class="rounded-circle"/>
                                        </div>
                                        <div class="preview-item-content d-flex flex-grow">
                                            <div class="flex-grow">
                                                <div class="d-flex d-md-block d-xl-flex justify-content-between">
                                                    <h6 class="preview-subject">Ethel Kelly</h6>
                                                    <p class="text-muted text-small">2 Hours Ago</p>
                                                </div>
                                                <p class="text-muted">Please review the tickets</p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="preview-item border-bottom">
                                        <div class="preview-thumbnail">
                                            <img src="assets/images/faces/face11.jpg" alt="image"
                                                 class="rounded-circle"/>
                                        </div>
                                        <div class="preview-item-content d-flex flex-grow">
                                            <div class="flex-grow">
                                                <div class="d-flex d-md-block d-xl-flex justify-content-between">
                                                    <h6 class="preview-subject">Herman May</h6>
                                                    <p class="text-muted text-small">4 Hours Ago</p>
                                                </div>
                                                <p class="text-muted">Thanks a lot. It was easy to fix it .</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <!-- content-wrapper ends -->
            <!-- partial:partials/_footer.html -->
            <footer class="footer">
                <div class="d-sm-flex justify-content-center justify-content-sm-between">
                    <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © bootstrapdash.com 2020</span>
                    <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Free <a
                            href="https://www.bootstrapdash.com/bootstrap-admin-template/" target="_blank">Bootstrap admin templates</a> from Bootstrapdash.com</span>
                </div>
            </footer>
            <!-- partial -->
        </div>
        <!-- main-panel ends -->
        <div class="row">
            <div class="col-xl-3 col-sm-6 col-12">
                <div class="card flex-fill fb sm-box">
                    <div class="social-likes">
                        <p>Like us on facebook</p>
                        <h6>50,095</h6>
                    </div>
                    <div class="social-boxs">
                        <img src="{% static 'assets/img/icons/social-icon-01.svg' %}" alt="Social Icon">
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12">
                <div class="card flex-fill twitter sm-box">
                    <div class="social-likes">
                        <p>Follow us on twitter</p>
                        <h6>48,596</h6>
                    </div>
                    <div class="social-boxs">
                        <img src="{% static 'assets/img/icons/social-icon-02.svg' %}" alt="Social Icon">
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12">
                <div class="card flex-fill insta sm-box">
                    <div class="social-likes">
                        <p>Follow us on instagram</p>
                        <h6>52,085</h6>
                    </div>
                    <div class="social-boxs">
                        <img src="{% static 'assets/img/icons/social-icon-03.svg' %}" alt="Social Icon">
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 col-12">
                <div class="card flex-fill linkedin sm-box">
                    <div class="social-likes">
                        <p>Follow us on linkedin</p>
                        <h6>69,050</h6>
                    </div>
                    <div class="social-boxs">
                        <img src="{% static 'assets/img/icons/social-icon-04.svg' %}" alt="Social Icon">
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <p>Copyright © 2024</p>
        </footer>
    </div>
    </div>
    <script>
        const chartDataUrl = "{% url 'trends_bar_chart_data' %}";

        $.ajax({
            url: chartDataUrl,
            method: "GET",
            success: function (response) {
                console.log("Chart data fetched:", response);
            },
            error: function (error) {
                console.error("Error fetching data:", error);
            },
        });
    </script>



    {#    <script>#}
    {#        $(document).ready(function () {#}
    {#            console.log("Document is ready."); // Debug#}
    {#            if ($('#pie').length > 0) {#}
    {#                console.log("#pie container exists."); // Debug#}
    {#                $.ajax({#}
    {#                    url: '{% url 'gender_pie_chart' %}',#}
    {#                    method: 'GET',#}
    {#                    success: function (data) {#}
    {#                        console.log('API Response:', data); // Debugging#}
    {#                        if (data.labels && data.datasets && data.datasets[0] && data.datasets[0].data) {#}
    {#                            console.log("Valid API data received."); // Debug#}
    {#                            var optionsPie = {#}
    {#                                chart: {#}
    {#                                    type: 'pie',#}
    {#                                    height: 350,#}
    {#                                },#}
    {#                                labels: ['Boys', 'Girls'], // Hardcoded labels#}
    {#                                series: [50, 50], // Hardcoded series#}
    {#                                colors: ['#4e73df', '#ff6384'], // Hardcoded colors#}
    {#                                legend: {#}
    {#                                    position: 'bottom',#}
    {#                                },#}
    {#                                title: {#}
    {#                                    text: 'Gender Ratio',#}
    {#                                    align: 'center',#}
    {#                                    style: {#}
    {#                                        fontSize: '16px',#}
    {#                                    },#}
    {#                                },#}
    {#                            };#}
    {##}
    {#                            var chartPie = new ApexCharts(document.querySelector('#pie'), optionsPie);#}
    {#                            chartPie.render();#}
    {#                            console.log("Pie chart rendered successfully."); // Debug#}
    {#                        } else {#}
    {#                            console.error('Invalid API response structure:', data);#}
    {#                        }#}
    {#                    },#}
    {#                    error: function (xhr, status, error) {#}
    {#                        console.error('Error fetching gender data:', status, error);#}
    {#                    },#}
    {#                });#}
    {#            } else {#}
    {#                console.error("#pie container does not exist.");#}
    {#            }#}
    {#        });#}
    {##}
    {#    </script>#}

  

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- ApexCharts -->
    <script src="{% static 'assets/js/gender_revenue_chart.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
    <script src="{% static 'assets/plugins/apexchart/apexcharts.min.js' %}"></script>
    <script src="{% static 'assets/plugins/apexchart/chart-data.js' %}"></script>



    </html>
{% endblock %}