{% extends "Home/base.html" %}
{% block body %}




    <div class="page-wrapper">
        <div class="content container-fluid">
            <div class="page-header">
                <div class="row align-items-center">
                    <div class="col">
                        <h3 class="page-title">Results</h3>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="">Dashboard</a></li>
                            <li class="breadcrumb-item active">results</li>
                        </ul>
                    </div>
                    <div class="col-auto text-right float-right ml-auto">
                        <a href="#" class="btn btn-outline-info mr-2"><i class="fas fa-download"></i> Download</a>
                        <a href="{% url 'add_subject' %}" class="btn btn-info"><i class="fas fa-plus"></i></a>
                    </div>
                </div>
            </div>

            <!-- page1.html: Filter form -->
            <div class="container mt-5">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        <h4>Filter Results</h4>
                    </div>
                    <div class="card-body">
                        <form method="GET" action="{% url 'add_results_table' %}">
                            {% csrf_token %}

                            <div class="form-group">
                                <label for="grade_id">Select Grade:</label>
                                <select name="grade_id" id="grade_id" class="form-control">
                                    {% for grade in grades %}
                                        <option value="{{ grade.id }}">{{ grade }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="term_id">Select Term:</label>
                                <select name="term_id" id="term_id" class="form-control">
                                    {% for term in terms %}
                                        <option value="{{ term.id }}">{{ term.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="subject_id">Select Subject:</label>
                                <select name="subject_id" id="subject_id" class="form-control">
                                    {% for subject in subjects %}
                                        <option value="{{ subject.id }}">{{ subject.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="form-group">
                                <label for="exam_type_id">Select Exam Type:</label>
                                <select name="exam_type_id" id="exam_type_id" class="form-control">
                                    {% for exam_type in exam_types %}
                                        <option value="{{ exam_type.id }}">{{ exam_type.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <button type="submit" class="btn btn-primary">Filter</button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>


{% endblock %}
