{% extends 'Home/base.html' %}
{% load static %}
{% block body %}

    <div class="page-wrapper">
        <div class="content container-fluid">
            <div class="page-header">
                <div class="row align-items-center">
                    <div class="col">
                        <h3 class="page-title">Start</h3>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="">Dashboard</a></li>
                            <li class="breadcrumb-item active">results</li>
                        </ul>
                    </div>
                    <div class="col-auto text-right float-right ml-auto">
                        <a href="#" class="btn btn-outline-info mr-2"><i class="fas fa-download"></i> Download</a>
                        <a href="{% url 'add_subject' %}" class="btn btn-info"><i class="fas fa-plus"></i></a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="card card-table">
                        <div class="card-body">
                            <form action="">
                                <div class="table-responsive">
                                    {% if top_students_data %}
                                        <table class="table table-hover table-center mb-0 datatable">
                                            <thead>
                                            <tr>
                                                <th>Position</th>
                                                <th>Student Name</th>
                                                <th>Admission Number</th>
                                                <th>Total Marks</th>
                                                <th>Class</th>
                                                <th>Term</th>
                                                <th>Exam Type</th>
                                                <th>Year</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for student in top_students_data %}
                                                <tr>
                                                    <td>{{ student.rank }}</td>
                                                    <td>{{ student.student_name }}</td>
                                                    <td>{{ student.admission_number }}</td>
                                                    <td>{{ student.total_marks }}</td>
                                                    <td>{{ student.grade_section }}</td>
                                                    <td>{{ student.term }}</td>
                                                    <td>{{ student.exam_type }}</td>
                                                    <td>{{ student.year }}</td>
                                                </tr>
                                            {% endfor %}
                                            </tbody>
                                        </table>
                                    {% else %}
                                        <p>No top students found for this class.</p>
                                    {% endif %}
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <p>Copyright © 2024 Davedev</p>
    </footer>
    </div>
    </div>
    <script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'assets/js/popper.min.js' %}"></script>
    <script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>
    <script src="{% static 'assets/plugins/datatables/datatables.min.js' %}"></script>
    <script src="{% static 'assets/js/script.js' %}"></script>
    </body>

    </html>


{% endblock %}