{% extends 'Home/base.html' %}
{% load static %}
{% block body %}
    



    <div class="page-wrapper">
        <div class="content container-fluid">

            <div class="page-header">
                <div class="row align-items-center">
                    <div class="col">
                        <h3 class="page-title">Transport</h3>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Dashboard</a></li>
                            <li class="breadcrumb-item active">Transport</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="card card-table">
                        <div class="card-body">

                            <div class="page-header">
                                <div class="row align-items-center">
                                    <div class="col">
                                        <h3 class="page-title">Transport</h3>
                                    </div>
                                    <div class="col-auto text-end float-end ms-auto download-grp">
                                        <a href="#" class="btn btn-outline custom-bg text-white me-2"><i class="fas fa-download"></i>
                                            Download</a>
                                        <a href="#" class="btn btn custom-bg text-white"><i class="fas fa-plus"></i></a>
                                    </div>
                                </div>
                            </div>

                            <div class="table-responsive">
                                <table class="table border-0 star-student table-hover table-center mb-0 datatable table-striped">
                                    <thead class="student-thread">
                                    <tr>
                                        <th>Route Name</th>
                                        <th>Vehicle Number</th>
                                        <th>Driver Name</th>
                                        <th>Driver License</th>
                                        <th>Contact Number</th>
                                        <th>Driver Address</th>
                                        <th class="text-end">Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>Nyahururu</td>
                                        <td>KDE 5263</td>
                                        <td>Steve</td>
                                        <td>REDH968532</td>
                                        <td>+91 8974158962</td>
                                        <td>Ma4</td>
                                        <td class="text-end">
                                            <div class="actions ">
                                                <a href="javascript:;" class="btn btn-sm custom-bg text-white me-2 ">
                                                    <i class="feather-eye"></i>
                                                </a>
                                                <a href="edit-transport.html" class="btn btn-sm bg-danger-light">
                                                    <i class="feather-edit"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Githunguchu</td>
                                        <td>KCD 5847</td>
                                        <td>Akbar</td>
                                        <td>RGTH958932</td>
                                        <td>07 00 000 000</td>
                                        <td>Nyahururu</td>
                                        <td class="text-end">
                                            <div class="actions ">
                                                <a href="javascript:;" class="btn btn-sm bg-success-light me-2 ">
                                                    <i class="feather-eye"></i>
                                                </a>
                                                <a href="edit-transport.html" class="btn btn-sm bg-danger-light">
                                                    <i class="feather-edit"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Leshau</td>
                                        <td>KDC 6789</td>
                                        <td>Joseph</td>
                                        <td>DLFH985632</td>
                                        <td>07 00 000 000</td>
                                        <td>Nyahururu</td>
                                        <td class="text-end">
                                            <div class="actions ">
                                                <a href="javascript:;" class="btn btn-sm bg-success-light me-2 ">
                                                    <i class="feather-eye"></i>
                                                </a>
                                                <a href="edit-transport.html" class="btn btn-sm bg-danger-light">
                                                    <i class="feather-edit"></i>
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <footer>
            <p>Copyright © 2024 Davedev</p>
        </footer>

    </div>

    </div>
    
<script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>

<script src="{% static 'assets/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<script src="{% static 'assets/js/feather.min.js' %}"></script>

<script src="{% static 'assets/plugins/slimscroll/jquery.slimscroll.min.js' %}"></script>

<script src="{% static 'assets/plugins/datatables/datatables.min.js' %}"></script>

<script src="{% static 'assets/js/script.js' %}"></script>


{% endblock %}